<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load message_tags %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "chat/css/chat.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="forum">
        <form id="messageForm2"> {% csrf_token %}
            {{ form }}
            <input type="hidden" name="reply_to" value id="reply_to">
            <div id="responseInfo"></div>
            <input type="submit" value="Submit"/>
            <button id='js-captcha-refresh' type="button" title="Reset"><i class="bi bi-arrow-clockwise"></i></button>
        </form>

    </div>

    <div class="sort-buttons">
        <form action="{% url "chat:home" %}" method="get">
            <button type="submit" name="sort" value="-user_name">User Name &uarr;</button>
            <button type="submit" name="sort" value="user_name">User Name &darr;</button>
            <button type="submit" name="sort" value="-email">Email &uarr;</button>
            <button type="submit" name="sort" value="email">Email &darr;</button>
            <button type="submit" name="sort" value="-created">Date Added &uarr;</button>
            <button type="submit" name="sort" value="created">Date Added &darr;</button>
        </form>
    </div>

    <div id="messages">
        {% for message in message_list %}
            <div class="post" data-message-id="{{ message.id }}">
                <div class="message">
                    <div class="header">
                        <div style="display: flex;">
                            <div class="username"><a href="{{ message.home_page }}">{{ message.user_name }}</a></div>
                            <button type="button" class="reply-button" data-message-id="{{ message.id }}" data-user-name="{{ message.user_name }}" data-message-text="{{ message.message }}" title="Reply">
                                <i class="bi bi-reply"></i>
                            </button>
                        </div>
                        <div class="date">{{ message.created }}</div>
                    </div>
                    <div class="content">{{ message.message|safe }}</div>
                </div>
            
                <!-- Nested responses -->
                <div class="responses">
                    {% for response in message.responses %}
                        <div class="message response" data-message-id="{{ response.id }}"> <!-- тутай -->
                            <div class="header">
                                <div style="display: flex;">
                                    <div class="username"><a href="{{ response.home_page }}">{{ response.user_name }}</a></div>
                                    <button type="button" class="reply-button" data-message-id="{{ response.id }}" data-user-name="{{ response.user_name }}" data-message-text="{{ response.message }}" title="Reply">
                                        <i class="bi bi-reply"></i>
                                    </button>
                                </div>
                                <div class="date">{{ response.created }}</div>
                            </div>
                            <div class="content"><b>@{{ response.response_user }}</b>, {{ response.message|safe }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    

    <nav class="paginator">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="{% if  paginator_mes.has_previous %}
                ?{% change_params page=paginator_mes.previous_page_number %}
                {% else %}#{% endif %}">«</a>
            </li>
            
            {% if paginator_mes.number|add:-1 > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?{% change_params page=1 %}">1</a>
                </li>
    
                {% if paginator_mes.number|add:-2 > 1  %}
                    <li class="page-item"><p>...</p></li>
                {% endif %}
            {% endif %}
    
            {% for page in paginator_mes.paginator.page_range %}
                {% if paginator_mes.number|add:-1  <= page and page <= paginator_mes.number|add:1  %}
                    <li class="page-item {% if paginator_mes.number == page %}active{% endif %}">
                        <a class="page-link" href="?{% change_params page=page  %}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            
            
            {% if paginator_mes.number|add:1 < paginator_mes.paginator.num_pages %}
                {% if paginator_mes.number|add:2 < paginator_mes.paginator.num_pages  %}
                    <li class="page-item"><p>...</p></li>
                {% endif %}    
                
                <li class="page-item">
                    <a class="page-link" href="?{% change_params page=paginator_mes.paginator.num_pages %}">{{ paginator_mes.paginator.num_pages }}</a>
                </li>    
            {% endif %}
            
            <li class="page-item"><a class="page-link" href="{% if  paginator_mes.has_next %}
            ?{% change_params page=paginator_mes.next_page_number %}
            {% else %}#{% endif %}">»</a></li>
        </ul>
    </nav>
    
    <script type="text/javascript">
        document.getElementById('js-captcha-refresh').addEventListener('click', function() {
            window.location.reload(); 
        });
        
        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            if(data.type === "chat"){                    
                let messages = document.getElementById("messages");
                let messageContainer;
                
                if (data.reply) {
                    messageContainer = document.querySelector(`div[data-message-id="${data.reply}"] .responses`);
                    console.log(data);
                    if (!messageContainer) {
                        messageContainer = document.querySelector(`div[data-message-id="${data.reply}"]`).closest('.responses');
                        if (!messageContainer) {
                            console.error("Response target not found");
                            return; 
                        }
                    }
                } else if ( {{ paginator_mes.number }} === 1) {
                    // it is new message
                    messages.insertAdjacentHTML("afterbegin",
                        `<div class="post" data-message-id="${data.id}">
                            <div class="message">
                                <div class="header">
                                    <div style="display: flex;">
                                        <div class="username"><a href="${data.home_page}">${data.user_name}</a></div>
                                        <button type="button" class="reply-button" data-message-id="${data.id}" data-user-name="${data.user_name}" data-message-text="${data.message}" title="Reply">
                                            <i class="bi bi-reply"></i>
                                        </button>
                                    </div>
                                    <div class="date">${data.created}</div>
                                </div>
                                <div class="content">${data.message}</div>
                            </div> 
                            <div class="responses"></div>
                        </div>`);
                    return;
                }
                // Add the reply to the found container
                messageContainer.insertAdjacentHTML("beforeend", 
                    `<div class="message response" data-message-id="${data.id}">
                        <div class="header">
                            <div style="display: flex;">
                                <div class="username"><a href="${data.home_page}">${data.user_name}</a></div>
                                <button type="button" class="reply-button" data-message-id="${data.id}" data-user-name="${data.user_name}" data-message-text="${data.message}" title="Reply">
                                    <i class="bi bi-reply"></i>
                                </button>
                            </div>
                            <div class="date">${data.created}</div>
                        </div>
                        <div class="content"><b>@${data.reply_for}</b>, ${data.message}</div>
                    </div>`);
            }
            if(data.type === "error") {
                console.log(data.errors);
                alert(data.errors);
            }
        };
        

        let form = document.getElementById("messageForm2")
        form.addEventListener("submit", (e)=> {
            e.preventDefault()
            let user_name = e.target.user_name.value
            let email = e.target.email.value
            let home_page = e.target.home_page.value
            let message = e.target.text.value
            e.target.text.value = ''
            let captcha_0 = e.target.captcha_0.value
            let captcha_1 = e.target.captcha_1.value
            let reply = e.target.reply_to.value
            chatSocket.send(JSON.stringify({
                'user_name': user_name,
                'email': email,
                'home_page': home_page,
                'message': message,
                'captcha': [captcha_0, captcha_1],
                'reply': reply,
            }))
        })

        document.addEventListener('DOMContentLoaded', function () {
            const messagesContainer = document.getElementById('messages');
        
            messagesContainer.addEventListener('click', function(event) {
                if (event.target.closest('.reply-button')) {
                    const button = event.target.closest('.reply-button');
                    event.preventDefault();
        
                    const messageId = button.dataset.messageId;
                    const userName = button.dataset.userName;
                    const messageText = button.dataset.messageText;
                    
                    const hiddenInput = document.getElementById("reply_to");
                    hiddenInput.value = messageId;
            
                    const responseInfo = document.getElementById('responseInfo');
                    responseInfo.innerHTML = ''; 
                    responseInfo.insertAdjacentHTML('beforeend', `<label>Вы отвечаете на сообщение от <b>@${userName}</b> - <i>${messageText.slice(0, 30)}...</i></label>`);
                }
            });
        });
        
            
    </script>
</body>
</html>