<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load message_tags %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "chat/css/chat.css" %}">
    <title>Document</title>
</head>
<body>
    <h1>Hello world!</h1>
    <div class="forum">
        <form id="messageForm2"> {% csrf_token %}
            {{ form }}
            {% comment %} <label for="user_name">User name:</label>
            <input type="text" id="user_name" name="user_name" required/>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required/>
            
            <label for="home_page">Home page:</label>
            <input type="url" id="home_page" name="home_page"/>
            
            <label for="message">Message:</label>
            <input type="text" id="message" name="message" required/> {% endcomment %}

            <input type="submit" value="Submit"/>
            <button id='js-captcha-refresh' type="button"><i class="bi bi-arrow-clockwise"></i></button>
        </form>

    </div>

    <div class="sort-buttons">
        <form action="{% url "chat:home" %}" method="get">
            <button type="submit" name="sort" value="-user_name">User Name &uarr;</button>
            <button type="submit" name="sort" value="user_name">User Name &darr;</button>
            <button type="submit" name="sort" value="-email">Email &uarr;</button>
            <button type="submit" name="sort" value="email">Email &darr;</button>
            <button type="submit" name="sort" value="-created">Date Added &uarr;</button>
            <button type="submit" name="sort" value="created">Date Added &darr;</button>
        </form>
    </div>

    <div id="messages">
        {% for message in message_list %}
            <div class="post">
                <div class="header">
                    <div class="username"><a href="{{ message.home_page }}">{{ message.user_name }}</a></div>
                    <div class="date">{{ message.created }}</div>
                </div>
                <div class="content">{{ message.message|safe }}</div>
            </div>
        {% endfor %}
    </div>
    
    <nav class="paginator">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="{% if  paginator_mes.has_previous %}
                ?{% change_params page=paginator_mes.previous_page_number %}
                {% else %}#{% endif %}">«</a>
            </li>
            
            {% if paginator_mes.number|add:-1 > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?{% change_params page=1 %}">1</a>
                </li>
    
                {% if paginator_mes.number|add:-2 > 1  %}
                    <li class="page-item"><p>...</p></li>
                {% endif %}
            {% endif %}
    
            {% for page in paginator_mes.paginator.page_range %}
                {% if paginator_mes.number|add:-1  <= page and page <= paginator_mes.number|add:1  %}
                    <li class="page-item {% if paginator_mes.number == page %}active{% endif %}">
                        <a class="page-link" href="?{% change_params page=page  %}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            
            
            {% if paginator_mes.number|add:1 < paginator_mes.paginator.num_pages %}
                {% if paginator_mes.number|add:2 < paginator_mes.paginator.num_pages  %}
                    <li class="page-item"><p>...</p></li>
                {% endif %}    
                
                <li class="page-item">
                    <a class="page-link" href="?{% change_params page=paginator_mes.paginator.num_pages %}">{{ paginator_mes.paginator.num_pages }}</a>
                </li>    
            {% endif %}
            
            <li class="page-item"><a class="page-link" href="{% if  paginator_mes.has_next %}
            ?{% change_params page=paginator_mes.next_page_number %}
            {% else %}#{% endif %}">»</a></li>
        </ul>
    </nav>
    
    <script type="text/javascript">
        document.getElementById('js-captcha-refresh').addEventListener('click', function() {
            window.location.reload(); 
        });
        
        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            // console.log("Data:", data)

            if(data.type === "chat" && {{ paginator_mes.number }} === 1){                    
                let messages = document.getElementById("messages")
                messages.insertAdjacentHTML("afterbegin", 
                    `<div class="post">
                        <div class="header">
                            <div class="username"><a href="${data.home_page}">${data.user_name}</a></div>
                            <div class="date">${data.created}</div>
                        </div>
                        <div class="content">${data.message}</div>
                    </div>`)
                
            }
            if(data.type === "error") {
                console.log(data.errors)
                alert(data.errors)
            }
        }

        let form = document.getElementById("messageForm2")
        form.addEventListener("submit", (e)=> {
            e.preventDefault()
            console.log(e)
            let user_name = e.target.user_name.value
            let email = e.target.email.value
            let home_page = e.target.home_page.value
            let message = e.target.text.value
            e.target.text.value = ''
            let captcha_0 = e.target.captcha_0.value
            let captcha_1 = e.target.captcha_1.value
            chatSocket.send(JSON.stringify({
                'user_name': user_name,
                'email': email,
                'home_page': home_page,
                'message': message,
                'captcha': [captcha_0, captcha_1],
            }))
        })


    </script>
</body>
</html>