body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    font-size: 16px;
}

/* messages */
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #a7d0ff;
}

.content a {
    color: #328fd5;
}
.content a:hover {
    color: #007bff;
}

.post {
    width: 600px;
    margin: 0 auto;
}

.message {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    overflow: hidden;
}

.header {
    background-color: #4A76A8;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-weight: bold;
}

.date {
    font-size: 14px;
    opacity: 0.9;
}

.content {
    padding: 20px;
    line-height: 1.5;
    border-top: 1px solid #ccc;
}

.responses {
    margin-left: 20px;
    border-left: 3px solid #436a976e; /* Добавляем линию для визуального разделения */
    padding-left: 15px;
    border-radius: 3ch 3ch;
}

.response {
    background-color: #f8f8f8; /* Чуть светлее фона основного сообщения */
    width: auto;
}

.response .header {
    background-color: #436a97; /* Чуть светлее, чем у основного сообщения */
}
.reply-button {
    background-color: #00000000;
    padding: 0px;
    margin: 0px 0px 0px 10px;
}

.reply-button:hover {
    background-color: #00000000;

}


/* sort-buttons */
.sort-buttons {
    margin: 20px auto;
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}





/* messages forum */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    font-size: 16px;
}
.forum {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}

label {
    /* font-weight: bold; */
    display: block;
    margin: 10px 0 5px;
}

textarea[name="text"],
input[type="text"],
input[type="email"],
input[type="url"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea[name="text"]{
    height: 15px;
}

fieldset {
    width: calc(100% - 24px);
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4A76A8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3a5a78;
}





/* paginators */
.paginator {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}
.pagination li a {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 15px;
    background-color: #2a72c0;
    transition: background-color 0.3s;
}
.pagination li:first-child a,
.pagination li:last-child a {
    border-radius: 5px; 
}
.pagination li.active a,
.pagination li a:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
.pagination li a:focus {
    outline: none;
    box-shadow: none;
}
.pagination .dots {
    padding: 5px 10px;
    margin: 0 5px;
}
.pagination li a {
    cursor: pointer;
    text-decoration: none; 
}
